* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADC178;
}

span {
    font-size: 3rem;
    color: #6C584C;
    text-align: center;
}

button {
    border: none;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: #A98467;
    transition: 0.2s opacity;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}